.c-btn {
    height: 3em;
    padding: 0 3.16em;
    background: #e1bf6d;
    box-shadow: 1px 2px 4px 0px #00000045;
    border: 0;
    cursor: pointer;
    transition: .2s;
    
    text-transform: uppercase;
    letter-spacing: .12em;
    font-weight: 700;
    font-family: $lato;
    @include font-size(14px, 1.214);

    @include mq(desktop) {
        height: 3.14em;
        padding: 0 3.39em;
    }
    
    &:hover {
        box-shadow: 0px 10px 15px #00000045;
        transition: .2s;
        transform: translateY(-.1em);
    }
}
