.c-btn {
    
    &--primary {
        text-transform: uppercase;
        padding: 12px 40px;
        background: #e1bf6d;
        box-shadow: 1px 2px 4px 0px #00000045;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.12em;
        border: 0;
    }
}
