
.row.flickity-enabled {
    display: block;
}

.flickity-prev-next-button {
    display: none;
    background: #f6f6f6;

    @include mq(desktop) {
        display: block;
    }
}
.flickity-prev-next-button.previous {
    left: -45px;
}
.flickity-prev-next-button.next {
    right: -45px;
}
.flickity-prev-next-button svg {
    opacity: .5;
    &:hover {
        opacity: 1;
    }
}

.flickity-page-dots .dot {
    background: #dfdddd;
    opacity: 1;
    margin: 0 0.43em;

    @include mq(tablet) {
        width: .51em;
        height: .51em;
        margin: 0 0.4em;
    }
}

.flickity-page-dots .dot.is-selected {
    background: #070707;
    opacity: 0.5;
}