.flickity-enabled {
    // padding-left: 45px;
    // padding-right: 45px;
    &.row {
        display: block;
    }
}

// .flickity-viewport {
//     margin-bottom: 2em;
//     @include mq(tablet) {
//         margin-bottom: 2.5em;
//     }
//     @include mq(desktop) {
//         margin-bottom: 3.125em;
//     }
// }

.flickity-prev-next-button {
    opacity: 0.5;
    display: none;
    background: #ececec;
    transition: 0.2s;
    width: 2.81em;
    height: 2.81em;

    @include mq(desktop) {
        display: block;
    }

    &:hover {
        opacity: 1;
    }
    &:disabled {
        background: none;
    }

    &.previous {
        // left: -45px;
    }
    &.next {
        // right: -45px;
    }

    .flickity-button-icon {
        vertical-align: middle;
        width: 1.5em;
        position: unset;
    }
}

.flickity-page-dots {
    bottom: unset;
    .dot {
        background: #dfdddd;
        opacity: 1;
        margin: 0 0.43em;

        @include mq(tablet) {
            width: 0.51em;
            height: 0.51em;
            margin: 0 0.4em;
        }
        &.is-selected {
            background: #070707;
            opacity: 0.5;
        }
    }
}
