.c-section--cta {
    margin-bottom: 50px;
}

.c-cta {
    text-align: center;
}

.c-cta__desc {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.c-cta__carousel {
    margin: 50px 0 80px;
    @include mq(tablet) {
        margin: 50px 50px 80px;
    }
}

.c-cta__carousel .carousel-cell {
    width: 100%;
    @include mq(tablet) {
        width: 50%;
    }
    @include mq(desktop) {
        width: 33%;
    }
}

.c-cta__carousel .carousel-cell img {
    width: 100%;
}

.c-cta__carousel .flickity-prev-next-button {
    display: none;
    background: #f6f6f6;

    @include mq(desktop) {
        display: block;
    }
}
.c-cta__carousel .flickity-prev-next-button.previous {
    left: -45px;
}
.c-cta__carousel .flickity-prev-next-button.next {
    right: -45px;
}
.c-cta__carousel .flickity-prev-next-button svg {
    opacity: .5;
    &:hover {
        opacity: 1;
    }
}

.c-cta__carousel .flickity-page-dots .dot {
    background: #dfdddd;
    opacity: 1;
    margin: 0 0.43em;

    @include mq(tablet) {
        width: 8.28px;
        height: 8.28px;
        margin: 0 0.4em;
    }
}

.c-cta__carousel .flickity-page-dots .dot.is-selected {
    background: #070707;
    opacity: 0.5;
}
