.c-section--cta {
    margin-bottom: 50px;
    .c-cta {
        text-align: center;
        &__desc {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
        }

        &__carousel {
            margin: 50px 50px 80px;

            .carousel-cell {
                width: 50%;
                @include mq(desktop) {
                    width: 33%;
                }
            }

            .flickity-prev-next-button {
                display: none;
                background: #F6F6F6;

                @include mq(desktop) {
                    display: block;
                }

                &.previous {
                    left: -45px;
                }
                &.next {
                    right: -45px;
                }
            }
        }
    }
}
