.c-section--hero {
    background-image: url("../../images/Rectangle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-hero {
    text-align: center;
    color: white;
    padding: 0 0 6.62em;
    @include mq(tablet) {
        padding-bottom: 7.93em;
    }
    @include mq(desktop) {
        padding-bottom: 17.5em;
        max-width: 46.87em;
        margin: auto;
    }
}

.c-hero__logo {
    padding: 4.98em 0 5.54em;
    @include mq(tablet) {
        padding: 6.37em 0 4.93em;
    }
    @include mq(desktop) {
        padding: 7.5em 0 5.5em;
    }
}

.c-hero__title {
    max-width: 31.25em;
    margin: 0 auto 0.75em;
    text-align: center;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
    font-family: $playfair;
    @include font-size(32px, 36px);
    @include mq(tablet) {
        @include font-size(36px, 45px);
    }
    @include mq(desktop) {
        @include font-size(48px, 54px);
    }
}

.c-hero__desc {
    margin: 0 0 5.5em;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
    @include font-size(20px, 28px);
    @include mq(tablet) {
        @include font-size(20px, 23px);
    }
    @include mq(desktop) {
        @include font-size(22px, 25px);
        margin-bottom: 2.9em;
    }
}
