.c-section--listing {
    margin-bottom: 7em;

    .c-section-title__hr {
        display: none;
        @include mq(tablet) {
            display: block;
        }
    }
}

.c-listing__carousel {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    &:after {
        content: "flickity";
        display: none; /* hide :after */
        @include mq(tablet) {
            content: "";
        }
    }
}

.c-card {
    font-family: Lato;
    width: 100%;
    // max-width: 20.625em;
    margin: 0 auto 2.5em;
    box-shadow: 0px 2px 6px 0px #00000026;
    // @include mq(tablet) {
    //     max-width: 21.25em;
    // }
    // @include mq(tablet) {
    //     max-width: 23.5em;
    // }
}

.c-card img {
    width: 100%;
    height: auto;
}

.c-card__content {
    position: relative;
    padding: 1.9em 1.5em 1.6em;
}

.c-card__title {
    @include font-size(18px, 22px);
}

.c-card__price {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    color: #696969;
    @include font-size(16px, 19px);
}

.c-card__options {
    display: flex;
    gap: 0 1.5em;
    padding: 0;
    margin: 0;
    list-style: none;
}

.c-card__option {
    display: flex;
    align-items: center;
    gap: 0 0.51em;
}
.c-card-option__qty {
    @include font-size(14px, 16.8px);
}

.c-card__btn {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #c4c4c4;
    background-color: #fff;
    padding: 0.25em 1.25em;
    margin: 2.16em 2em;

    font-family: $lato;
    @include font-size(12px, 14px);
    letter-spacing: 0.06em;
}
