.c-section--listing {
    margin-bottom: 6em;

    @include mq($from: tablet, $until: desktop) {
        padding-top: 5.375em;
    }
    @include mq(tablet) {
        margin-bottom: 4.75em;
    }
    @include mq(desktop) {
        margin-bottom: 5em;
    }

    .c-section__title {
        @include mq($until: tablet) {
            margin-bottom: 0.96em;
        }
        &:after {
            display: none;
            @include mq(tablet) {
                display: block;
            }
        }
    }
}

.c-listing {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.c-listing__carousel {
    &:after {
        content: "flickity";
        display: none; /* hide :after */
        @include mq(tablet) {
            content: "";
        }
    }

    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}

.c-listing__item {
    padding: 1px; // to let box-shadow show up
    margin: 0.625em;
    margin-bottom: 2.5em;

    @include mq(tablet) {
        padding: 0 0.625em 1.25em;
        margin: 0;
    }
    @include mq(desktop) {
        padding: 0 1.25em 2.5em;
    }
}

.c-card {
    height: 100%;
    width: 100%;
    box-shadow: 0px 2px 6px 0px #00000026;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-card img {
    width: 100%;
    height: auto;
}

.c-card__content {
    padding: 1.93em 1.5em 1.62em;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-card__title {
    font-weight: 700;
    @include font-size(18px, 1.222);
}

.c-card__price {
    margin-top: 0.5em;
    margin-bottom: 1.32em;
    color: #696969;
    letter-spacing: 0.04em;
    @include font-size(16px, 1.187);
}

.c-card__bottom {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 0.625em 0.5em;
}

.c-card__options {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5em 1.56em;
    list-style: none;

    li {
        display: flex;
        align-items: center;
        gap: 0 0.5em;
    }
}

.c-card-option__qty {
    @include font-size(14px, 1.2);
}

.c-card__btn {
    width: 7em;
    height: 2.08em;
    text-transform: uppercase;
    border: 1px solid #c4c4c4;
    background-color: #fff;
    padding: 0;
    margin-left: auto;
    margin-top: auto;
    cursor: pointer;
    transition: 0.2s;

    @include font-size(12px, 1.166);
    letter-spacing: 0.06em;

    &:hover {
        border-color: #000;
    }
}
