.c-modal {
  z-index: 2; /* 1 */
  display: flex; /* 2 */
  text-align: center;

  &[aria-hidden="true"] {
    display: none; /* 1 */
  }
}

.c-modal,
.c-modal__overlay {
  position: fixed; /* 1 */
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  left: 0; /* 1 */
}

.c-modal__overlay {
  background-color: rgba(43, 46, 56, 0.9);
  animation: fade-in 200ms both;

  @include mq($until: tablet) {
    background: #fff;
  }
}

.c-modal__content {
  margin: auto;
  padding: 1.87em;
  width: 20.625em;
  z-index: 2;
  position: relative;
  background-color: white;
  animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;

  @include mq(tablet) {
    width: 26.93em;
    padding: 3em 5em;
  }
}

.c-modal__ico {
  margin-bottom: 2.5em;
}

.c-modal__title {
  margin: 0 auto 0.5em;
  @include font-size(24px, 1.775);
}

.c-modal__message {
  margin: 0 auto 2.125em;
}

.is-modal-opend {
  overflow: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
  }
}
