.c-modal {
  z-index: 2; /* 1 */
  display: flex; /* 2 */
  text-align: center;

  &[aria-hidden="true"] {
    display: none; /* 1 */
  }
}

.c-modal,
.c-modal__overlay {
  position: fixed; /* 1 */
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  left: 0; /* 1 */
}

.c-modal__overlay {
  background-color: rgba(43, 46, 56, 0.9); /* 1 */
}

.c-modal__content {
  margin: auto; /* 1 */
  padding: 30px;
  width: 350px;
  z-index: 2; /* 2 */
  position: relative; /* 2 */
  background-color: white; /* 3 */
}

.c-modal__title {
  margin-bottom: 0;
}
