.c-section--presentation {
    background: linear-gradient(180deg, #fff0 70%, #fff 100%), url(../../images/bg1.png);
    padding-bottom: 30px;
}

.c-presentation {
    align-items: center;
    position: relative;
    padding: 40px 20px;
    @include mq(tablet) {
        padding: 0;
    }
    @include mq(desktop) {
        top: -125px;
    }
    background: #f6f6f6;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.118);
}

.c-presentation .c-presentation__item {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;

    @include mq(tablet) {
        padding: 5% 3%;
        gap: 10px;
        text-align: center;
        flex-direction: column;
    }
    @include mq(desktop) {
        &:nth-child(even) {
            padding-top: 0;
            padding-bottom: 0;
            border: 1px solid #dbdbdb;
            border-top: 0;
            border-bottom: 0;
        }
    }
}

.c-presentation .c-presentation__icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
