.c-section--presentation {
    background: linear-gradient(180deg, #fff0 70%, #fff 100%), url(../../images/bg1.png);
}

.c-presentation {
    position: relative;
    padding: 3.75em 0;
    @include mq(tablet) {
        padding: 0 1.5em;
    }
    @include mq(desktop) {
        top: -125px;
    }
    background: #f6f6f6;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.118);
}

.c-presentation__item {
    gap: 2.43em;
    display: flex;
    align-items: center;
    padding: 1.25em 1.87em;
    @include font-size(16px, 22px);

    @include mq(tablet) {
        padding: 4.02em .58em 3.45em;
        text-align: center;
        flex-direction: column;
        @include font-size(17px, 24px);
    }
    @include mq(desktop) {
        padding: 3.87em 4.93em;
        &:nth-child(even) {
            padding-top: 0;
            padding-bottom: 0;
            border: 1px solid #dbdbdb;
            border-top: 0;
            border-bottom: 0;
            margin: 3.87em 0;
        }
    }
}

.c-presentation__desc {
    margin: 0;
    width: fit-content;
    color: #696969;
}

.c-presentation__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.25em;
    @include mq(tablet) {
    
        width: 2.25em;
    }
}
.c-presentation__icon img{
}
