.c-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1em;
}

.c-section__title {
    margin: 3.07em 0 1.84em;
    font-weight: normal;
    font-family: $playfair;
    @include font-size(26px,34px);
    
    @include mq(tablet) {
        @include font-size(28px,35px);
        margin-top: 3.42em;
        margin-bottom: 1.71em;
    }
    @include mq(desktop) {
        @include font-size(32px,43px);
        margin-top: 3.75em;
    }

    &::after {
        content: '';
        display: block;
        width: 78px;
        background: #C7C7C7;
        height: 2px;
        margin: 32px auto 0;
    }
}