.c-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.c-section__title {
    margin-bottom: 1.84em;
    margin-top: 0;
    font-weight: normal;
    font-family: $playfair;
    @include font-size(26px, 1.307);

    @include mq(tablet) {
        @include font-size(28px, 1.25);
        margin-bottom: 1.714em;
    }
    @include mq(desktop) {
        @include font-size(32px, 1.343);
        margin-bottom: 1.75em;
    }

    &::after {
        content: "";
        display: block;
        width: 78px;
        background: #c7c7c7;
        height: 2px;
        margin: 32px auto 0;
    }
}
