.c-section--stories {
    background: center no-repeat url(../../images/stories-bg.png);
    background-size: cover;
    padding: 8% 0 10%;
    margin-bottom: 50px;

    .row {
        gap: 50px 0;

        .c-story {
            max-width: 510px;
            margin: auto;
            padding: 25px;
            background-color: #fff;
            box-shadow: 3px 3px 11px 0px #00000014;

            &__text {
                color: #767676;
            }

            &__author {
                text-align: center;
                font-weight: bold;
            }

            &__icon {
                display: flex;
                background-color: #060606;
                position: absolute;
                padding: 10px;
                right: 50%;
                bottom: 0;
                transform: translate(50%, 50%);
            }
        }
    }
}
