.c-section--stories {
    background: center no-repeat url(../../images/stories-bg.png);
    background-size: cover;
    padding-bottom: 6.31em;
    @include mq(tablet) {
        padding-bottom: 7.37em;
    }
}

.c-stories {
    gap: 4.37em 0;
}

.c-story {
    max-width: 36.18em;
    margin: auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 3px 3px 11px 0px #00000014;
    @include mq(desktop) {
        max-width: 36.5em;
    }
}

.c-story__text {
    color: #767676;
    font-style: italic;
    @include font-size(18px, 29px);
}

.c-story__author {
    margin-top: 2.28em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    @include font-size(14px, 14px);
}

.c-story__icon {
    width: 3.14em;
    height: 3.14em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060606;
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translate(50%, 50%);
}
