.c-section--story {
    background: center no-repeat url(../images/stories-bg.jpg);
    background-size: cover;
    padding-bottom: 1.875em;
    @include mq(tablet) {
        padding-bottom: 7.37em;
    }
    @include mq(desktop) {
        padding-bottom: 7.5em;
    }
}

.c-story__carousel {
    
    &::after {
        content: "flickity";
        display: none; /* hide :after */
        @include mq(tablet) {
            content: "";
        }
    }
    
    @include mq(tablet) {
        display: flex;
    }
    @include mq($from: tablet, $until: desktop) {
        flex-direction: column;
        gap: 4.37em;
    }
}

.c-story__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 36.18em;
    width: 100%;
    margin: 0 .625em 1.37em;
    padding: 1.94em;
    background-color: #fff;
    box-shadow: 3px 3px 11px 0px #00000014;
    @include mq(tablet) {
        padding: 2.5em;
        margin: 0 auto;
    }
    @include mq(desktop) {
        width: 50%;
        margin: 0 .9375em 1.37em;
    }
}

.c-story__text {
    color: #767676;
    font-style: italic;
    @include font-size(18px, 1.611);
}

.c-story__author {
    margin-top: 2.28em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    @include font-size(14px, 1);
}

.c-story__icon {
    width: 2.75em;
    height: 2.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060606;
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translate(50%, 50%);
}
