.c-section--footer {
    background-image: url(../images/footer-bg.png);
    background-position: bottom;

    .c-section-title__h {
        margin-top: 3.43em;
    }
}

.c-footer__form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 100%;
    margin: 0 auto 5em;
    max-width: 28.75em;
    @include mq(desktop) {
        padding: 0 0.93em;
        max-width: none;
    }

    .row {
        gap: 1.25em 0;
    }
}

.c-form__control {
    gap: 0.5em;
    display: flex;
    flex-direction: column;
}

.c-footer-form__label {
    @include font-size(16px, 1.125);
}
.c-footer-form__call {
    text-align: center;
}

.c-footer__lower {
    gap: 2.66em 0;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 4.25em 0;
    border-top: 1px solid #dfdfdf;
    color: #757575;

    @include font-size(12px, 1.166);
    @include mq(tablet) {
        padding: 2.85em 0 4.14em;
        flex-direction: row;
        @include font-size(14px, 1.2);
    }
    @include mq(desktop) {
        padding-bottom: 4.85em;
    }
}

.c-footer__scroll {
    cursor: pointer;
    border-radius: 100%;
    width: 1.78em;
    height: 1.78em;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        transition: 0.2s;
        background-color: #ddd;
    }
}

.c-error {
    transition: .2s;
    color: #db0000;
    @include font-size(14px, 1.142);
}

.is-invalid input {
    transition: .2s;
    border-color: #db0000;
}
