.c-section--footer {
    background-image: url(../../images/bg.png);
    background-position: bottom;
}

.c-footer__form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 0;
    margin-bottom: 5em;
    max-width: 460px;
    @include mq(desktop) {
        max-width: none;
    }

    .row {
        gap: 20px 0;
    }
}

.c-form__control {
    gap: 0.5em;
    display: flex;
    flex-direction: column;

    input {
        border: 1px solid #cecccc;
        padding: 0.6em;
    }
}

.c-footer__form--label {
    @include font-size(16px, 18px);
}

.c-footer__lower {
    gap: 2.66em 0;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 4.25em 0;
    border-top: 1px solid #dfdfdf;
    color: #757575;

    @include font-size(12px, 14px);
    @include mq(tablet) {
        flex-direction: row;
        @include font-size(14px, 16.8px);
    }
}

.c-scroll-up {
    cursor: pointer;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        transition: 0.2s;
        background-color: #ddd;
    }
}
