.u-flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--center {
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}



.u-gap {
  &-1 {
    gap: ($spacer * 0.25);
  }
  &-2 {
    gap: ($spacer * 0.5);
  }
  &-3 {
    gap: $spacer;
  }
  &-4 {
    gap: ($spacer * 1.5);
  }
  &-5 {
    gap: ($spacer * 3);
  }
}
