.o-section {
    &__wrapper {
        @include mq(lg) {
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Playfair Display;
        margin-bottom: 50px;
        
        h2 {
            font-weight: 100;
        }
        &__hr {
            width: 80px;
            display: inline-block;
            border-top: 2px solid #e4e4e4;
        }
    }
}
