.o-section {
    padding-top: 5em;
    @include mq(tablet) {
        padding-top: 6em;
    }
    @include mq(desktop) {
        padding-top: 7.5em;
    }
}

.o-section__wrapper {
    padding: 0 1em;
    margin: 0 auto;
    max-width: 43.75em;

    @include mq(lg) {
        max-width: 75.5em;
        padding: 0;
    }
}
