.o-section__wrapper {
    padding: 0 1em;
    max-width: 75.5em;
    margin: 0 auto;
    // @include mq(tablet) {
    //     max-width: 43.75em;
    // }
    @include mq(lg) {
        padding: 0;
    }
}
