@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype");
}


@font-face {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Lato-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Lato-BoldItalic.ttf") format("truetype");
}
