@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),
        url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff"),
        url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Lato-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
}
// @font-face {
//     font-family: "Lato";
//     font-style: italic;
//     font-weight: 700;
//     font-display: swap;
//     src: url("../fonts/Lato-BoldItalic.ttf") format("truetype");
// }
